<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EquipmentRepair.Properties.Settings.EquipmentRepairConnectionString"
            connectionString="Data Source=WIN-2J5GGL22MAA\SQLEXPRESS;Initial Catalog=EquipmentRepair;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>